.section {
    background-color: lightblue;
    height: 1000px; 
    padding: 20px;
}

.navbar-collapse ul {
    background-color: lightpink;
    color: #fff;
}

.navbar-collapse ul li a {
    color: #fff;
    text-decoration: none;
}
.col-xs-12 h2{
	text-align: center;
}